/* 用淘宝布局计算rem的值用的函数 */
@function rem($px){
  @return $px/108*1rem;
}

header {
  width: 100%;
  background-color: pink;
  div.search {
    display: flex;
    align-items:center;
    a {
      display: inline-block;
    }
  }

}